<!DOCTYPE html>
<html>
  <head>
    <title>Tim Land</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div id="header"><h1>what's up, it's me, Tim Kepple&copy;</h1>
<h2>real adult and rails web developer</h2>
</div>
  <div id="list">
    <%= yield %>
    <ul>
  <li>click <a href="/portfolio">here</a> for portfolio</li>
  <li>click <a href="/contact">cornholio</a> for cornholio</li>
  
<!--   <div id="secret"><li><a href="/sup">this</a> is a secret</li></div>
 -->
</ul>
  </div>
  </body>
</html>
