<!DOCTYPE html>
<html>
  <head>
<!-- <div id="header"><h1>what's up, it's me, Tim Kepple&copy;</h1>
<h2>real adult and rails web developer</h2> -->
    <title>Tim Land</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Tim Kepple's Nice Static (for now) Website</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Tim Kepple</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start Bootstrap.</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">The joke is that this describes me as a Bootstrap theme</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">About Tim Kepple</h2>
            <p class="text-white-50">I kinda hate referring to myself in the third person, so that weirded me out just now. I learned Russian on a dare once, so that's the kind of person I am.</p>
          </div>
        </div>
        <img src="img/kick.gif" class="img-fluid" alt="Ooo look at this iPad, do people still care about those obese phones?">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>I did a thing, can't show you but I did it</h4>
              <p class="text-black-50 mb-0">Virtual storefronts are all the rage, and I've made one once.</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/demo-image-01.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Blogs are cool still, right?</h4>
                  <p class="mb-0 text-white-50">No way those are a bubble</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Classified capstone project</h4>
                  <p class="mb-0 text-white-50">I feel like Michael Cera in Arrested Development in that I've told everyone what my project is gonna be about but I haven't built it out to do what I wanted it to</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe?</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe, I guess?</button>
            </form>

          </div>
        </div>
      </div>
    </section>





    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">
        <div id="message-form">
          <h1 style="color: white;">Contact Us</h1>
          <%= form_tag("/contact", novalidate: true, class: "needs-validation") do %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" style="color: white;">
                  <label for="name">Name *</label>
                  <input type="text" name="name" id="name" class="form-control required-field" placeholder="Required" required>
                  <div class="invalid-feedback">
                    Name is required.
                  </div>
                </div>
                <div class="form-group" style="color: white;">
                  <label for="email">Email *</label>
                  <input type="text" name="email" id="email" class="form-control required-field" placeholder="Required" required>
                  <div class="invalid-feedback">
                    Email is required.
                  </div>
                </div>
                <div class="form-group" style="color: white;">
                  <label for="number">Number</label>
                  <input type="text" name="number" id="number" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" style="color: white;">
                  <label for="content">Message *</label>
                  <textarea name="content" id="content" class="form-control required-field" style="height: 240px" placeholder="Required" required></textarea>
                  <div class="invalid-feedback">
                    Message is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <input type="submit" value="Send Message" class="btn btn-primary" id="contact-button">
            </div>
          <% end %>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://twitter.com/Tim_Kepple" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://facebook.com/maybeifmyusernameiswittyenoughillbeappreciated" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://github.com/EvilRhino229" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Tim Kepple 2019
      </div>
    </footer>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>
</html>
